#cool {
    background-color: cornflowerblue;
    width: 1900px;
    margin: 0px;

}
#fort {
    width: 1000px;
    margin-left: 350px;
    margin-right: 1300px;
}
#images{
    width: 2400px;
}
body{
    background-image: url("../img/temperatureA.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#fname{
    width: 20%;
    height: 5%; 
 }  
    
#pname{
    width: 40%;
    height: 5%;
 }
#fresh{
    width:40%;
    padding:12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 2px;
    height:17px;

}
.alert-out{
    width: 300px;
    color: blue;
}